/* .extend-content-item .extand-content-type-image */

@media (max-width: 767px) {
    .extand-row-wrapper.extand-col-6 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  
  .extand-row-wrapper.extand-col-5 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .extand-row-wrapper.extand-col-5 .extand-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 10px;
  }
  
  @media (max-width: 767px) {
    .extand-row-wrapper.extand-col-5 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  
  .extand-row-wrapper.extand-col-4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .extand-row-wrapper.extand-col-4 .extand-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  
  @media (max-width: 767px) {
    .extand-row-wrapper.extand-col-4 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  
  .extand-row-wrapper.extand-col-3 {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
  }
  
  .extand-row-wrapper.extand-col-3 .extand-col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 10px;
  }
  
  @media (max-width: 767px) {
    .extand-row-wrapper.extand-col-3 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  
  .extand-row-wrapper.extand-col-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .extand-row-wrapper.extand-col-2 .extand-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  
  @media (max-width: 767px) {
    .extand-row-wrapper.extand-col-2 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  
  .extand-row-wrapper.extand-col-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .extand-row-wrapper.extand-col-1 .extand-col {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px 25px;
  }
  
  @media (max-width: 767px) {
    .extand-row-wrapper.extand-col-1 .extand-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px 10px;
    }
  }
  

.extand-content-type-content-box .extand-content-image,
.extand-content-type-content-box .extand-content-icon {
    display: inline-block;
}
.extend-content-item-container.container-carousel.layout-2 .extand-content-icon,
.extend-content-item-container.container-grid.layout-2 .extand-content-icon,
.extend-content-item-container.container-carousel.layout-2 .extand-content-image,
.extend-content-item-container.container-grid.layout-2 .extand-content-image{
    height: fit-content;
}

.extend-content-item-container.container-carousel.layout-2 .extand-content-type-content-box,
.extend-content-item-container.container-grid.layout-2 .extand-content-type-content-box {
    display: flex;
}

.extend-content-item-container.container-carousel.layout-2 .extand-content-type-content-box .extand-content-icon,
.extend-content-item-container.container-grid.layout-2 .extand-content-type-content-box .extand-content-icon {
  flex-shrink: 0;
}
.extend-content-item-container.container-carousel.layout-2 .extand-content-type-content-box .extand-content-content,
.extend-content-item-container.container-grid.layout-2 .extand-content-type-content-box .extand-content-content {
  flex-grow: 1;
}

/* .extend-content-item-container.container-grid.layout-2 .extand-content-icon {
    -webkit-animation: clip-2 10s linear infinite alternate forwards;
    animation: clip-2 10s linear infinite alternate forwards;
}
.extand-infobox .extand-infobox-item .extand-infobox-icon.style_3 {
    -webkit-animation: clip-3 10s linear infinite alternate forwards;
    animation: clip-3 10s linear infinite alternate forwards;
} */

@keyframes clip-1{
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  
  @keyframes clip-2 {
    0%, 100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% { 
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }
  
  @keyframes clip-3 {
    0%, 100% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;;
    }
    20% {
      border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }
    40% {
      border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }
    60% {
      border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }
    80% {
      border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
  }

.extand-icon-effect-yes .extend-content-item-container.container-carousel .extand-content-icon,
.extand-icon-effect-yes .extend-content-item-container.container-grid .extand-content-icon {
    -webkit-animation: clip-2 10s linear infinite alternate forwards;
    animation: clip-2 10s linear infinite alternate forwards;
}


/*=====navigation ==== */

.extand-carousel-wrapper.extand-carousel-dots-center .extand-swiper-pagination{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  width: 100%;
}

.extand-carousel-wrapper.extand-carousel-dots-right .extand-swiper-pagination{
  margin-left: auto;
  text-align: right;
  position: absolute;
  width: 100%;
}

.eextand-carousel-wrapper.extand-carousel-dots-left .extand-swiper-pagination {
  margin-right: auto;
  text-align: left;
  position: absolute;
  width: 100%;
}

.extand-carousel-wrapper .extand-carousel-nav-prev i,
.extand-carousel-wrapper .extand-carousel-nav-next i {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.extand-carousel-wrapper .extand-carousel-nav-next i,
.extand-carousel-wrapper .extand-carousel-nav-prev i {
  transition: 0.3s ease;
  color: #b1b1b1;
  line-height: 58px;
}

.extand-carousel-wrapper .extand-carousel-nav-next,
.extand-carousel-wrapper .extand-carousel-nav-prev {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  opacity: 0.7;
  transition: 0.3s ease;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.eextand-carousel-wrapper .extand-carousel-nav-next:hover,
.extand-carousel-wrapper .extand-carousel-nav-prev:hover {
  box-shadow: 0 15px 39px 0 rgba(9, 24, 33, 0.06);
  opacity: 1;
}
.extand-carousel-wrapper .extand-carousel-nav-prev {
  left: -80px;
}
.extand-carousel-wrapper .extand-carousel-nav-next {
  right: -80px;
}

.extand-carousel-single .extand-carousel-nav-next,
.extand-carousel-single .extand-carousel-nav-prev {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.3s ease;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  bottom: 20px;
  z-index: 1;
}
.extand-carousel-single .extand-carousel-nav-next:hover,
.extand-carousel-single .extand-carousel-nav-prev:hover {
  color: #fff;
  box-shadow: 0 19px 27px 0 rgba(56, 218, 232, 0.25);
  background: #fd71af;
}
.extand-carousel-single .extand-carousel-nav-prev {
  left: 56px;
}
.extand-carousel-single .extand-carousel-nav-next {
  left: 126px;
}

@media only screen and (max-width: 400px) {
  .extand-carousel-basic .extand-carousel-nav-next,
  .extand-carousel-basic .extand-carousel-nav-prev {
      bottom: 0;
  }
  .extand-carousel-basic .extand-carousel-nav-next {
      right: 25px;
  }
  .extand-carousel-basic .extand-carousel-nav-prev {
      right: 90px;
  }
}

.extand-dots-container .extand-swiper-pagination.swiper-pagination.swiper-pagination-fraction{
  position: relative;
}

.extand-carousel-wrapper .extand-dots-container .extand-swiper-pagination.swiper-pagination.swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0px;
}

.extand-carousel-wrapper.extand-carousel-item.extand-Progressbar-align-top .extand-dots-container .extand-swiper-pagination.swiper-pagination.swiper-pagination-progressbar {
  top: 0;
}

.extand-carousel-wrapper.extand-carousel-item.extand-Progressbar-align-bottom .extand-dots-container .extand-swiper-pagination.swiper-pagination.swiper-pagination-progressbar {
  bottom: 0;
}

.extand-carousel-wrapper .extand-swiper-pagination.swiper-pagination-fraction span {
  display: inline-block;
  text-align: center;
}
.extand-content-content .content-box-button {
  position: relative;
  display: inline-block;
}


.extand-content-content .content-box-button.right .button-icon{
  float: right;
  margin-left: 8px;
}

.extand-content-content .content-box-button.left .button-icon{
  float: left;
  margin-right: 8px;
}

/* extender-all-in-one-for-elementor End */
